.table-container {
    width: 25%; 
    
  }

  .container table {
    width: 100%; 
    border-collapse: collapse; 
  }

  .container th, .container td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
  }